services:
  # ADK web app for development purposes only
  # - This service builds the ADK web application and serves it on port 8080
  psql:
    image: postgres:15
    container_name: psql
    ports:
      - "5400:5432" 
    env_file:
      - .env
    volumes:
      - ./postgresql:/var/lib/postgresql/data
  minio:
    hostname: minio
    image: "minio/minio"
    container_name: minio
    ports:
      - "9004:9000"
      - "9005:9001"
    command: [ "server", "/data", "--console-address", ":9001" ]
    volumes:
      - ./minio:/data
    env_file:
      - .env
  mc:
    image: minio/mc
    container_name: mc
    hostname: mc
    env_file:
      - .env
    entrypoint: >
      /bin/sh -c "
      until mc alias set minio http://minio:9000 $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD; do
        echo '...waiting for minio...'; sleep 1;
      done;
      mc mb minio/warehouse || true;
      mc anonymous set download minio/warehouse;
      exit 0;
      "
    depends_on:
      - minio

  adk-apiserver:
    container_name: adk-apiserver
    build:
      context: .
      dockerfile: adk-apiserver/ops/Dockerfile.dev
    environment:
      PORT: 8081
      AGENTS_DIR: /app/agents
    working_dir: /app
    volumes:
      - ./agents/:/app/agents
    ports:
      - "127.0.0.1:8081:8081"
  agent-master:
    container_name: agent-master
    build:
      context: .
      dockerfile: agents/a2a_agent_master/Dockerfile
    working_dir: /app
    entrypoint: ["python", "main.py"]
    environment:
      HOST: 0.0.0.0
      PORT: 8086
      WELL_KNOWN_HOST: agent-master
    volumes:
      - ./agents/a2a_agent_master/:/app
    ports:
      - "127.0.0.1:8086:8086"

  # # AGENTS - let's have some fun with agents!
  agent-customer-support:
    container_name: agent-customer-support
    build:
      context: .
      dockerfile: agents/customer_service_agent/Dockerfile
    working_dir: /app
    entrypoint: ["python", "main.py"]
    environment:
      HOST: 0.0.0.0
      PORT: 8083
      WELL_KNOWN_HOST: agent-customer-support
    volumes:
      - ./agents/customer_service_agent/:/app
    ports:
      - "127.0.0.1:8083:8083"

  adk-web:
    container_name: adk-web
    build:
      context: .
      dockerfile: adk-web/ops/Dockerfile.dev
    environment:
      PORT: 8080
      AGENTS_DIR: /app/agents
    working_dir: /app
    volumes:
      - ./agents/:/app/agents
    ports:
      - "127.0.0.1:8080:8080"

  agent-sql-company-query:
    container_name: agent-sql-company-query
    build:
      context: .
      dockerfile: agents/company_search_agent/Dockerfile
    working_dir: /app
    entrypoint: ["python", "main.py"]
    environment:
      HOST: 0.0.0.0
      PORT: 8084
      WELL_KNOWN_HOST: agent-sql-company-query
    volumes:
      - ./agents/company_search_agent/:/app
    ports:
      - "127.0.0.1:8084:8084" 
  agent-simple-stock-vector-db:
      container_name: agent-simple-stock-vector-db
      build:
        context: .
        dockerfile: agents/simple_stock_agent/Dockerfile
      working_dir: /app
      entrypoint: ["python", "main.py"]
      environment:
        HOST: 0.0.0.0
        PORT: 8085
        WELL_KNOWN_HOST: agent-simple-stock-vector-db
      volumes:
        - ./agents/simple_stock_agent/:/app
      ports:
        - "127.0.0.1:8085:8085"
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml
    volumes:
      - ./qdrant_data:/qdrant/storage
  
  agent-google-search:
    container_name: agent-google-search
    build:
      context: .
      dockerfile: agents/google_search/Dockerfile
    working_dir: /app
    entrypoint: ["python", "main.py"]
    environment:
      HOST: 0.0.0.0
      PORT: 8087
      WELL_KNOWN_HOST: agent-google-search
    volumes:
      - ./agents/google_search/:/app
    ports:
      - "127.0.0.1:8087:8087"

configs:
  qdrant_config:
    content: |
      log_level: INFO

networks:
  de_network:
    driver: bridge
    name: de_network
